@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Sevillana&display=swap');

body {
    background-color: rgb(22, 22, 29);
}

/* BASE PROFILE */
#container {
    width: 608px;
    height: 788px;
    border-radius: 8px;
    background-image: linear-gradient(to top, rgb(129, 0, 0), rgb(0, 0, 119)) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container {
    margin: auto;
    width: 600px;
    height: 780px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.459);
}

.pfp {
    top: 200px;
    left: 30px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: solid 10px #16002C;
    position: absolute;
}

.banner {
    width: 100%;
    height: 200px;
    background-image: url("./components/images/banner.jpg");
    background-size: cover;
}

.text {
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    opacity: 0.8;
    color: white;
    position: absolute;
    top: 350px;
    left: 30px;
}
.subtext {
    font-weight: 400;
    opacity: 0.5;
    position: absolute;
    top: 400px;
    left: 30px;
}

.inner {
    margin: auto;
    margin-top: 30%;
    height: 49.5%;
    width: 95%;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.432);
    overflow: auto;
}

.header-inner {
    font-family: "Parkinsans", sans-serif;
    font-weight: 100;
    margin: 5px 0 0 10px;
    color: white;
}

hr {
    width: 95%;
    opacity: 0.2;
}

.inner-text {
    padding: 5px;
    opacity: 0.8;
}

::-webkit-scrollbar {
    display: none;
}